{% extends "base.html" %} {% block title %}Chat room{% endblock %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center flex-column">
    <div id="messages" class="d-flex flex-column overflow-auto w-50 h-100 mt-5 border border-secondary p-3"></div>
    <div class="input-group w-50 mt-5 mb-5">
        <input type="text" id="message" name="message" placeholder="Message" class="form-control text-light"></input>
        <button className="btn" type="button" class="btn btn-primary" onClick=sendMessage()>Send</button>
    </div>
</div>

<script type="text/javascript">

    var socketio = io()

    const messages = document.getElementById("messages")

    const createMessage = (name, message) => {
        text = `
        <div class="d-inline-block rounded text-light mt-3 bg-primary p-1" style="width:40%">
            <strong>${name}</strong>
            <p>${message}</p>
        </div>
        `
        if (name != "{{username}}") {
            text = `
            <div class="d-inline-block rounded text-dark mt-3 bg-info align-self-end p-1" style="width:40%">
                <strong>${name}</strong>
                <p>${message}</p>
            </div>
            `
        }

         messages.innerHTML += text
         messages.scrollTop = messages.scrollHeight;
    }

    socketio.on("message", (data) => {
        createMessage(data.name, data.message)
    })

    const sendMessage = () => {
        const message = document.getElementById("message");
        if (message.value == "") return;
        socketio.emit("message", { data: message.value });
        message.value = "";
    }
</script>

{% for msg in messages %}
    <script type="text/javascript">
        createMessage("{{msg.name}}", "{{msg.message}}");
    </script>
{% endfor %}

{% endblock %}